[submodule "lib/imagegraphcut"]
	path = lib/imagegraphcut
	url = https://github.com/daviddoria/ImageGraphCutSegmentation.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
